/* .left_topic_1 li,.left_topic_2 li{
	background-color: #fff;
	height: 38px;
	line-height: 38px;
}
.left_topic_1,.left_topic_2{
	border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-top: 5px;
}
.left_topic_1 .li_first,.left_topic_2 .li_first{
	border-radius: 5px 5px 0 0;
}
.left_topic_1 .li_final,.left_topic_2 .li_final{
	border-radius: 0 0 5px 5px;
}
.left_topic_1  li a,.left_topic_2 li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    text-decoration: none;
}
.left_topic_1  li:hover,.left_topic_2  li:hover{
    color: #fff;
    background-color: #558ED5;
    border: 1px solid #558ED5;
    text-decoration: none;
}
.left_topic_1  li a:hover,.left_topic_2  li a:hover{
	color: #fff;
}
.user_name_head li img{
	border-radius: 5px 5px 0 0;
}
.user_name_head .user_name{
	background-color: #fff;
	height: 38px;
	border-radius: 0 0 5px 5px;
	line-height: 38px;
}
.user_name_head span{
	color: #000;
	padding: 16px;
} */
.push_dynamic{
	background-color: #fff;
	padding: 10px 30px;
	border-radius: 5px;
}
.push_dynamic textarea{
	margin-top: 10px;
	height: 100px;
}
.options{
	padding-top: 5px;
}
.options img{
	margin-bottom: 2px;
}
.options a:hover{
	text-decoration: none;
	color: #558ED5;
}
.submit_btn{
	background-color: #558ED5;
	border:none;
	border-radius: 10px;
	color: #fff;
	width: 70px;
	line-height: 25px;
}
#link_add{
	display: none;
}
#share_topic{
	display: none;
}
#comment_add{
	display: none;
}
#tab_options_all{
	z-index:1;
}
#collect_browse{
	z-index:1;
}
#collect_title{
	padding-left: 20px;
	background-color: #fff;
	line-height: 50px;
	border-radius: 5px;
}
#collect_title p{
	font-size: 20px;
	font-weight: bold;
}
#tab_options{
	background-color: #fff;
	line-height: 40px;
	border-radius: 5px;
}
#tab_options a{
	padding:5px;
}
/*0504修改开始*/
#tab_options .active a{
	color: #558ED5;
	font-weight: bold;
	text-decoration: none;
}
#tab_options a:hover{
	color: #558ED5;
	text-decoration: none;
}
#hot_news,#focus_on_news,#time_news,#more_news{
	display: none;
}
.recommend_topic p{
	font-weight: bold;
}
.recommend_topic img{
	border-radius: 40px;
}
.recommend_topic input{
	margin-top: 15px;
}
.cancel_btn{
	background-color: #f2f2f2;
	border:none;
	border-radius: 10px;
	width: 70px;
	line-height: 25px;
}
/*0504修改结束*/
.normalbackground{
	background-color: #fff;
}
.changebackground{
	background-color: #f2f2f2;
	cursor: pointer;
}
/*  推荐的资讯*/
.newsLists{
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-top: 5px;
	z-index:2;
}
.newsLists .head_photo img{
	width: 40px;
	height: 40px;
}
.topic_name p{
	font-weight: bold;
}
#content_details{
	color: black;
}
.newsLists .source{
	color: #888888;
	margin-top: 10px;
}
.operat{
	padding-top: 10px;
}
.operat img{
	margin-top: -5px;
	padding-right: 10px;
}

#recommend{
	background-color: #fff;
	border-radius: 5px;
	padding: 8px 16px;
}
#recommend a:hover{
	color: #558ED5;
	text-decoration: none;
}

.dropdown img{
	cursor: pointer;
}
.focus_on{
	padding: 5px 0 0 0;
}
.focus_on img{
	cursor: pointer;
}
.focus_on p{
	color: gray;
}
.focus_on a{
	text-decoration: none;
	/* font-weight: bold; */
}
/*资讯的下拉选项，比如收藏*/
/* main menu styles */
#multi_drop_down_box,#multi_drop_down_box ul {
    list-style:none;
    margin:0;
    padding:0;
}
#multi_drop_down_box{
    height:41px;
    padding-left:5px;
    padding-top:5px;
    position:relative;
    z-index:1;
}
#multi_drop_down_box ul {
    left:-9999px;
    position:absolute;
    top:37px;
    width:auto;
}

#multi_drop_down_box ul ul {
    left:-9999px;
    position:absolute;
    top:0;
    width:auto;
}
#multi_drop_down_box li{
    float:left;
    margin-right:5px;
    position:relative;
}
#multi_drop_down_box li a {
    color:#000;
    display:block;
    float:left;
    font-size:16px;
    padding:8px 10px;
    text-decoration:none;
}
#multi_drop_down_box > li > a {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    overflow:hidden;
}
#multi_drop_down_box li a.fly {
    background: url(../images/arrow.gif) no-repeat right center;
    padding-right:15px;
}
#multi_drop_down_box li a.fly2 {
   /*  background:url(../images/dropdown.png) no-repeat right center; */
    padding-right:15px;
}
#multi_drop_down_box ul li {
    margin:0;
   /*  border-radius: 5px; */
}
#multi_drop_down_box ul li a {
    width:180px;
    background-color: #fff;
}
#multi_drop_down_box ul li .fly3 {
    width:90px;
    background-color: #fff;
}
#multi_drop_down_box ul li a.fly {
    padding-right:10px;
}

/*hover styles*/
#multi_drop_down_box li:hover > a {
    background-color:#558ED5;
    color:#fff;
}
#multi_drop_down_box li .dd li ul{
	border-radius: 5px; 
}
/*focus styles*/
#multi_drop_down_box li a:focus {
    outline-width:0;
}

/*popups*/
#multi_drop_down_box li a:active + ul.dd,#multi_drop_down_box li a:focus + ul.dd,#multi_drop_down_box li ul.dd:hover {
    left:0;
}
#multi_drop_down_box ul.dd li a:active + ul,#multi_drop_down_box ul.dd li a:focus + ul,#multi_drop_down_box ul.dd li ul:hover {
    left:90px;
}

#main{
	background-color: #fff;
}