body{
	background-color: #f2f2f2;
	padding-top: 60px;
	padding-bottom: 20px;
}
.navbar-default{
	background-color:#fff;
	border-color:#fff;
}
.navbar-brand>img{
	margin-top: -10px; 
	width: 40px;
	height: 40px;
	display: inline-block;
}
.navbar-header a{
	font-size: 20px;
	font-style: italic;
}
.navbar-right li{
	padding-left:25px;
}
.navbar-right img{
	width: 25px;
	height:25px;
	border-radius: 25px;
	margin-top: 12.5px;
	cursor: pointer;
}
.form-group{
	padding-left: 100px;
}
/*底部栏*/
.content-bottombar{
	/* position: fixed; */
	/* bottom: 10px; */
	text-align: center;
	width: 100%;
	margin-top: 50px;
}
.bottom-link,.bottom-link:hover{
    color: #558ED5;
    text-decoration: none;
}
.bottom-link-parent{
	color: #558ED5;
}
a,a:hover{
	text-decoration: none;
}


.left_topic_1 li,.left_topic_2 li{
	background-color: #fff;
	height: 38px;
	padding: 8px 16px;
	cursor: pointer;
}
.left_topic_1,.left_topic_2{
	border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-top: 5px;
}
.left_topic_1 .li_first,.left_topic_2 .li_first{
	border-radius: 5px 5px 0 0;
}
.left_topic_1 .li_final,.left_topic_2 .li_final{
	border-radius: 0 0 5px 5px;
}
.left_topic_1  li:hover,.left_topic_2  li:hover{
    color: #fff;
    background-color: #558ED5;
    border: 1px solid #558ED5;
    text-decoration: none;
}

.user_name_head li img{
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
.user_name_head .user_name{
	background-color: #fff;
	height: 38px;
	border-radius: 0 0 5px 5px;
	line-height: 38px;
}
.user_name_head span{
	color: #000;
	padding: 16px;
}
#div_left_top .active{
	background-color: #558ED5;
	color: #fff;
}
/*搜索框*/
#nav_search{
	z-index: 1;
	position: fixed;
	left:272px;
	top: 50px;
	border-top: 0;
	width: 205px;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	border: 1px solid #f2f2f2;
}
#nav_search ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav_search ul li{
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
	color: #558ED5;
}
#nav_search ul li:hover{
	background-color: #f2f2f2;
}

/*退出框*/
#quit_btn{
	z-index: 1;
	position: fixed;
	right:100px;
	top: 50px;
	border-top: 0;
	width: 130px;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	border: 1px solid #f2f2f2;
}
#quit_btn ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#quit_btn ul li{
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 40px;
	cursor: pointer;
	color: #558ED5;
}
#quit_btn ul li:hover{
	background-color: #f2f2f2;
}
#quit_img{
	margin-top: -5px;
}