/* .left_topic_1 li,.left_topic_2 li{
	background-color: #fff;
	height: 38px;
	line-height: 38px;
}
.left_topic_1,.left_topic_2{
	border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-top: 5px;
}
.left_topic_1 .li_first,.left_topic_2 .li_first{
	border-radius: 5px 5px 0 0;
}
.left_topic_1 .li_final,.left_topic_2 .li_final{
	border-radius: 0 0 5px 5px;
}
.left_topic_1  li a,.left_topic_2 li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    text-decoration: none;
}
.left_topic_1  li:hover,.left_topic_2  li:hover{
    color: #fff;
    background-color: #558ED5;
    border: 1px solid #558ED5;
    text-decoration: none;
}
.left_topic_1  li a:hover,.left_topic_2  li a:hover{
	color: #fff;
}
#div_left_top .active{
	background-color: #558ED5;
}
#div_left_top .active a{
	color: #fff;
} */
.user_name_head li img{
	border-radius: 5px 5px 0 0;
}
.user_name_head .user_name ,.user_name_head .user_great,.user_name_head .user_featured{
	background-color: #fff;
	height: 38px;
	border-radius: 0 0 5px 5px;
	line-height: 38px;
} 
.user_name_head span{
	padding: 16px;
}
.newsLists{
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}
.newsLists .head_photo img{
	border-radius:40px;
	width: 40px;
	height: 40px;
}
.topic_name p{
	font-weight: bold;
}
.newsLists span{
	color: #888888;
	margin-top: 10px;
}
.operat{
	padding-top: 10px;
}
.operat img{
	margin-top: -5px;
	padding-right: 10px;
}